#titulo-lexico-mixteco {
  color: var(--mixteco0) !important;
}
.contenedor-elementos-notas-lexico {
  height: 1.5rem;
  max-width: 100%;
  display: flex;
  align-items: center;
}
/* <div class="contenedor-elementos-notas-lexico e1">
          <a href="#" class="icono-vinculo-readme e1">
            <span class="material-icons icono-readme e2">
              info
            </span>
          </a>
          <a href="#" class="texto-vinculo-readme e2">Readme for more information</a>
        </div> */
a.icono-vinculo-readme {
  margin: 0;

  margin: 0;
  padding: 0;
}
a.icono-vinculo-readme:hover {
  text-decoration: none;
}
span.icono-readme {
  color: var(--interfacesp);
  font-size: 1.25rem;
  display: block;
  margin: 0 !important;
  padding: 0 !important ;
}
span.icono-readme:hover {
  color: var(--interface0);
}
a.texto-vinculo-readme {
  font-size: 0.6667rem;
  margin-left: 0.25rem;
  min-width: 9.25rem;
  color: var(--negro);
}
a.texto-vinculo-readme:hover {
  font-weight: 500;
  color: var(--interface0) !important;
}

a.texto-vinculo-readme:visited {
  color: currentColor;
}

.contenedor-buscador-general-lexico {
  margin-top: 2rem;
}

.caja-busqueda-lexico {
  border: 1px solid var(--gris3);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.38rem;
  margin-bottom: 0.5rem;
}

.caja-busqueda-lexico:focus-within {
  outline: 3px solid #009d9375;
  /* Hace que se enfocque el elemento padre */
}

/* Dropdown tipo busqueda */
.dropdown-tipo-busqueda {
  position: relative;
  font-family: "Fira Sans", sans-serif;
  font-size: 0.8888rem;
  min-width: 21%;
  flex-basis: 35%;
  flex-grow: 1;
  margin-top: 0.2222rem;
  margin-bottom: 0.2222rem;

  margin-right: 0.5rem;
}
.dropdown-tipo-busqueda:focus {
  outline: 2px solid var(--interfacesp);
}
.dropdown-tipo-busqueda select {
  display: none; /*hide original SELECT element: */
}
.dropdown-tipo-busqueda .select-selected {
  background-color: var(--dr-tp-busq0);
}
.dropdown-tipo-busqueda .select-selected:hover {
  background-color: var(--dr-tp-busq1);
}
/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 0.55rem;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 0.25rem;
}

/* style the items (options),  */
.dropdown-tipo-busqueda .select-items div {
  color: var(--dr-tp-busq0);
  padding: 0.25rem;
  border: 1px solid transparent;
  /* border-color: transparent var(--videos1) transparent var(--videos1); */
  cursor: pointer;
}
/* including the selected item: */
.dropdown-tipo-busqueda .select-selected {
  color: white;
  padding: 0.25rem;
  border: 1px solid transparent;
  /* border-color: transparent transparent var(--videos1) transparent; */
  cursor: pointer;
}

/* Style items (options): */
.dropdown-tipo-busqueda .select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid var(--dr-tp-busq1);
}

/* Hide the items when the select box is closed: */
.dropdown-tipo-busqueda .select-hide {
  display: none;
}

.dropdown-tipo-busqueda .select-items div:hover,
.dropdown-tipo-busqueda .same-as-selected {
  background-color: var(--dr-tp-busq1);
  color: white !important;
}
/* --------------------------------------------------------------------- */

/* Dropdow parametros de palabras */
/* The container must be positioned relative: */
.dropdow-parametros-palabras {
  position: relative;
  font-family: "Fira Sans", sans-serif;
  font-size: 0.8888rem;
  flex-basis: 19%;
  flex-grow: 1;
  margin-right: 0.5rem;
  margin-top: 0.2222rem;
  margin-bottom: 0.2222rem;
}
.dropdow-parametros-palabras:focus {
  outline: 3px solid #009d9375;
}

.dropdow-parametros-palabras select {
  display: none; /*hide original SELECT element: */
}

.dropdow-parametros-palabras .select-selected {
  background-color: var(--dr-par-pal0);
}
.dropdow-parametros-palabras .select-selected:hover {
  background-color: var(--dr-par-pal1);
}

/* Style the arrow inside the select element:
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
} */

/* Point the arrow upwards when the select box is open (active):
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
} */

/* style the items (options), */
.dropdow-parametros-palabras .select-items div {
  color: var(--dr-par-pal0);
  padding: 0.25rem;
  border: 1px solid transparent;
  cursor: pointer;
}
/*including the selected item: */
.dropdow-parametros-palabras .select-selected {
  color: white;
  padding: 0.25rem;
  border: 1px solid transparent;
  cursor: pointer;
}
/* Style items (options): */
.dropdow-parametros-palabras .select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid var(--dr-par-pal1);
}

/* Hide the items when the select box is closed: */
.dropdow-parametros-palabras .select-hide {
  display: none;
}

.dropdow-parametros-palabras .select-items div:hover,
.dropdow-parametros-palabras .same-as-selected {
  background-color: var(--dr-par-pal1);
  color: white !important;
}
/* Dropdow opciones al añadir filtro */
.dropdown-opcion-filtro {
  position: relative;
  font-family: "Fira Sans", sans-serif;
  font-size: 0.8888rem;
  flex-basis: 12%;
  flex-grow: 1;
  margin-right: 0.5rem;
  margin-top: 0.2222rem;
  margin-bottom: 0.2222rem;
}
.dropdown-opcion-filtro:focus {
  outline: 3px solid #009d9375;
}

.dropdown-opcion-filtro select {
  display: none; /*hide original SELECT element: */
}

.dropdown-opcion-filtro .select-selected {
  background-color: var(--dr-fil-mas0);
}
.dropdown-opcion-filtro .select-selected:hover {
  background-color: var(--dr-fil-mas1);
}

/* Style the arrow inside the select element: */
/* .dropdown-opcion-filtro .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
} */

/* Point the arrow upwards when the select box is open (active): */
/* .dropdown-opcion-filtro .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
} */

/* style the items (options), including the selected item: */
.dropdown-opcion-filtro .select-items div {
  color: var(--dr-fil-mas0);
  padding: 0.25rem;
  border: 1px solid transparent;
  cursor: pointer;
}
.dropdown-opcion-filtro .select-selected {
  color: white;
  padding: 0.25rem;
  border: 1px solid transparent;
  cursor: pointer;
}

/* Style items (options): */
.dropdown-opcion-filtro .select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid var(--dr-fil-mas1);
}

/* Hide the items when the select box is closed: */
.dropdown-opcion-filtro .select-hide {
  display: none;
}

.dropdown-opcion-filtro .select-items div:hover,
.same-as-selected {
  background-color: var(--dr-fil-mas1);
  color: white !important;
}
/* Caja de texto de busqueda*/

.input-caja-busqueda-lexico {
  align-self: stretch;
  min-height: 2.5rem;
  flex-basis: 50%;
  flex: 1;
  flex-grow: 20;
  padding: 0 0.5rem;
  margin: 0;
  border: none;
  font-size: 0.8888rem;
  font-weight: 500;
  /* min-height: 2.5rem; */
  /* max-height: 5rem; */
}
.input-caja-busqueda-lexico:focus {
  outline: none;
}
.input-caja-busqueda-lexico::placeholder {
  color: var(--gris3);
  font-size: 0.8888rem;
  font-weight: 400 !important;
}
.input-caja-busqueda-lexico::-webkit-input-placeholder {
  color: var(--gris3);
  font-size: 0.8888rem;
  font-weight: 400 !important;
}
.input-caja-busqueda-lexico:-ms-input-placeholder {
  color: var(--gris3);
  font-size: 0.8888rem;
  font-weight: 400 !important;
}
.input-caja-busqueda-lexico::-moz-placeholder {
  color: var(--gris3);
  font-size: 0.8888rem;
  font-weight: 400 !important;
}
/* Contenedor general de checboxes de lexicos */
.contenedor-general-opciones-busqueda {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 2rem;
}
/* Contenedor de checkboxes y etiquetas */

.contenedor-general-opciones-busqueda .contenedor-checkbox-custom {
  margin-left: 0.75rem;
  margin-bottom: 0.5rem;
}
.contenedor-general-opciones-busqueda .contenedor-checkbox-custom:last-of-type {
  margin-right: 0rem;
  padding-right: 0 !important;
}

/* BOTONES DE buscador lexico */
.contenedor-general-botones-busqueda {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* Boton eliminar filtro */

button.eliminar-filtro {
  align-self: stretch;
  flex-basis: 2.2rem;
  aspect-ratio: 1/1;
  color: var(--interface1);
  padding: 0;
  margin: 0;
  border: 2px solid var(--interface1) !important;
  background: white;
  box-sizing: content-box;
  margin-left: 0.25rem;
}
button.eliminar-filtro:hover {
  color: white;
  background-color: var(--interface0);
  border-color: var(--interface0);
}
#btn-eliminar-filtro-mixteco {
  color: var(--mixteco0) !important;
  border: 2px solid var(--mixteco0) !important;
}
#btn-eliminar-filtro-mixteco:hover {
  color: white !important;
  background-color: var(--mixteco1) !important;
  border-color: var(--mixteco1) !important;
}
#btn-search-lexico-mixteco {
  background-color: var(--mixteco0) !important;
}
#btn-search-lexico-mixteco:hover {
  background-color: var(--mixteco1) !important;
}
#btn-reset-lexico-buscador-mixteco,
#btn-adfilter-mixteco {
  border-color: var(--mixteco0) !important;
  color: var(--mixteco0) !important;
}
#btn-reset-lexico-buscador-mixteco:hover,
#btn-adfilter-mixteco:hover {
  color: white !important;
  background-color: var(--mixteco1) !important;
  border-color: var(--mixteco1) !important;
}

/* RESULTADOS */
.contenedor-general-resultados {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.instrucciones {
}
.tarjeta {
  margin-bottom: 4rem;
}
.tarjeta:first-of-type {
  margin-top: 1rem;
}
.header-tarjeta {
}
.contenedor-header-resultado {
  border-bottom: 2px solid var(--mixteco0);
  margin-bottom: 0.5rem;
}
.titulo-header-tarjeta {
  margin-top: 0.3333rem !important;
  margin-bottom: 0.3333rem !important;
}
.genero {
  font-style: italic !important;
  margin-right: 0.2rem;
}
.especie {
  font-style: italic !important;
  margin-right: 0.2rem;
}
.autor {
  font-size: 1.77rem;
  font-weight: 400;
  color: var(--gris1);
  margin-right: 0.2rem;
}
.familia {
  font-size: 1.77rem;
  font-weight: 400;
  margin-right: 0.2rem;
  color: var(--gris1);
}
/* .familia::before {
  content: "[ ";
}
.familia::after {
  content: " ]";
} */

.contenedor-colecta-datos {
}
.etiqueta-colecta {
  font-size: 0.77rem;
  font-weight: 400;
  margin-top: 0 !important;
  margin-bottom: 0.77rem !important;
  color: var(--gris1);
}
.colecta {
  font-weight: 600;
}
.contenedor-datos-comunidad {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.main-tarjeta {
}

.etiqueta-comunidad {
  font-size: 0.77rem;
  font-weight: 400;
  margin-top: 0 !important;
  margin-bottom: 0.22rem !important;
  color: var(--gris1);
}
.comunidad {
  margin-top: 0rem !important;
  display: inline-block;
  margin-right: 0.777rem;
  font-weight: 600;
}
.btn-play-small {
  width: 1.5rem;
  height: 1.5rem;

  padding: 0 !important;
  padding-top: 1px !important; /*Compensa posición de icono de play*/
}
.btn-play-small-mixteco {
  width: 1.5rem;
  height: 1.5rem;

  padding: 0 !important;
  padding-top: 1px !important; /*Compensa posición de icono de play*/
  background-color: var(--mixteco0) !important;
}
.btn-play-small-mixteco:hover {
  background-color: var(--mixteco1) !important;
}
.icono-play-boton {
}
.contenedor-glosas-y-nombre-plantas-mixteco {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 1.5rem !important;
}
.contenedor-grupo-glosas-y-nombres {
  /* min-width: 16.66%;
  max-width: calc(33.33% - 1rem); */
  flex-basis: calc(33.33% - 1rem);
  margin-right: 1rem;
  margin-left: 1rem;
  flex-grow: 1;
  /* Para compensar los textos por bloques:  */
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
}
.contenedor-grupo-glosas-y-nombres:nth-of-type(1) {
  margin-left: 0rem;

  justify-content: flex-start !important;
}
.contenedor-grupo-glosas-y-nombres:nth-of-type(2) {
  justify-content: center !important;
  margin-right: 1rem;
  margin-left: 1rem;
}

.contenedor-grupo-glosas-y-nombres:nth-of-type(3) {
  margin-right: 0;
  justify-content: flex-end !important;
}
.contenedor-grupo-glosas-y-nombres:last-of-type {
  margin-right: 0;
}
.contenedor-grupo-glosas-y-nombres:first-of-type {
  margin-left: 0;
}

.etiqueta-num-glosa {
  font-size: 0.77rem;
  margin-bottom: 0.22rem !important;
  color: var(--gris1);
}
.nombre-planta {
  color: var(--negro);
  margin-top: 0 !important;
  margin-bottom: 0.25rem;
  font-weight: 400;
}
.glossa-planta {
  color: var(--mixteco0);
  margin-top: 0 !important;
  margin-bottom: 0.25rem;
  font-style: italic;
}
.contenedor-sumarios-y-comentarios {
  width: 100%;
  margin-bottom: 1rem;
}
.fila-sumario-comentarios {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.col-etiqueta {
  min-width: calc(33.333% - 0.5rem);
  flex-basis: calc(33.333% - 0.5rem);

  margin-right: 0.5rem;
}
.etiqueta-comentarios {
  text-align: right;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.etiqueta-uid-grabacion {
  font-size: 0.77rem;
  color: var(--gris2);
  text-align: right;
  margin-top: 0;
}
.uid-grabacion {
  font-weight: 500;
}
.col-dato {
  min-width: calc(66.6666% - 0.5rem);
  flex-basis: calc(66.6666% - 0.5rem);
  margin-left: 0.5rem;
}
.comentarios {
  color: var(--negro);
  font-size: 0.8888rem;
}

.footer-tarjeta {
}
