/*-----------------ICONOS---------------*/

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  /*font-size: 24px; /* Preferred icon size */
  display: inline-block;
  /*line-height: 1;*/
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.material-icons-outlined {
  font-family: "Material Icons outlined";
  font-weight: normal;
  font-style: normal;
  /*font-size: 24px; /* Preferred icon size */
  display: inline-block;
  /*line-height: 1;*/
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/*-----ESTILOS GENERALES-----*/
:root {
  /*-----COLORES-----*/

  /*-----interface-----*/
}
* {
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
}
html {
  font-size: 18px; /*tamaño define los rem*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans Condensed", sans-serif;
}

h1 {
  font-size: 2.556rem; /*46 px*/
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
h1:first-of-type {
}

h2 {
  font-size: 2rem; /*36 px*/
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem; /*27 px*/
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem; /*18 px*/
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 0.8rem; /*14.4 px*/
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0.7777rem;
}

h6 {
  font-size: 0.6666rem; /*12 px*/
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0.6666rem;
}

p.large {
  font-size: 1.2222rem; /*22 px*/
  margin-top: 0;
  margin-bottom: 1.2222rem;
}

p {
  font-size: 1rem; /*18 px*/
  margin-top: 0;
  margin-bottom: 1rem;
  color: #333;
  font-weight: 400;
}

p.small {
  font-size: 0.7777rem; /*14 px*/
  margin-top: 0;
  margin-bottom: 0.7777rem;
}
p.smallest {
  font-size: 0.6666rem; /*12 px*/
  margin-top: 0;
  margin-bottom: 0.6666rem;
}
